<!DOCTYPE html>
<html>
<head>
	<title>ecommerce</title>
</head>
<body>
	<a href="/accounts/register">register</a>
	<form method="post" action="/accounts/login">
		<input type="email" name="email">
		<input type="password" name="password">
		<input type="submit">
	</form>
</body>
</html>